# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/MathLib/v15/.suo
.vs/MathLib/v15/Browse.VC.db
.vs/MathLib/v15/Browse.VC.opendb
.vs/MathLib/v15/ipch/AutoPCH/3693b159e9f05530/MATHLIBRARY.ipch
.vs/MathLib/v15/.suo
.vs/MathLib/v15/Browse.VC.db
Debug/MathLib.ilk
Debug/MathLib.log
Debug/MathLib.pdb
Debug/MathLib.tlog/CL.command.1.tlog
Debug/MathLib.tlog/CL.read.1.tlog
Debug/MathLib.tlog/CL.write.1.tlog
Debug/MathLib.tlog/link.command.1.tlog
Debug/MathLib.tlog/link.read.1.tlog
Debug/MathLib.tlog/link.write.1.tlog
Debug/MathLib.tlog/unsuccessfulbuild
Debug/vc141.idb
Debug/vc141.pdb
